header .material-symbols-outlined {
    font-size: 36px;
    background-color: red;
}

header h1{
    font-size: 300%;
        
}
.radio{
    display: inline-flex;
}

.logo{
    width: 320px;
    margin-right: 20px;
    text-align: center;
}

.nomeDoTCC{
    font-size: 25px;
    margin-left: -20px;
}

.caixa{
    width: 80%;
}

.lbl-radio input {
    display: none;

    
}

.lbl-radio input:checked + .material-symbols-outlined {
    color: blue;
   
    
}
.meu-input {
    padding: 10px; /* Espaçamento interno */
    padding-right: 40px; /* Espaçamento interno à direita */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
}
